# AI Virtual Stylist - Dependencies
fastapi

python-multipart
opencv-python-headless==4.9.0.80
mediapipe==0.10.14
uvicorn[standard]

numpy

scikit-learn
pillow
webcolors
google-generativeai
jinja2
aiofiles
